[Desktop Entry]
Type=Application
Name=Ghost FTP
GenericName=FTP, FTPS and SFTP Client
Comment=Private FTP, FTPS and SFTP file transfer
Exec=/usr/bin/ghostftp
Icon=ghost-ftp
Terminal=false
StartupNotify=true
Categories=Network;FileTransfer;
Keywords=FTP;FTPS;SFTP;File Transfer;Ghost FTP;
